/* header {
    text-align: left;
    font-size: xx-large;
    color: rgb(5, 69, 5);
    text-align: center;
}

.find {
    font-size: xx-large;
    color: black;
    font-size: xx-large; 
    font-weight: bolder;
}

.hidden {
    display: none;
}

.the {
    font-size: xx-large;
    color: black;
    font-size: xx-large;
    font-weight: bolder;
}

#startBtn {
    font: bolder;
    font-size: 50px;
    color: black;
    background-color: aquamarine;
    opacity: .95;
}

main {
    border: 5px solid black;
    width: 100vw;
    background-color: rgb(208, 225, 193);
    opacity: .9;
}


#searchAndMap {
    display: flex;
}

#searchForm {
    width: 25%;
    border: 1px solid green;
}

form {
    border: 1px solid green;
}

#savedLocations {
    border: 1px solid green;
    display: flex;
    flex-direction: column;
}

#mapSection {
    border: 1px solid green;
    display: flex;
    width: 75%;
    height: 50vh;
}

#bgLocationCard {
    border: 1px solid green;
    width: 25%;
}

#mapDiv {
    border: 1px solid green;
    width: 75%;
    height: 100%;
}

#otherLocations {
    border: 1px solid green;
}

#fiveCards>div {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card {
    border: 1px solid green;
    min-width: 100px;
}


added work David */

body {
    /* background-image: url(../images/carA.jpg); */
}

.hidden {
    display: none;
}

#startBtn {
    font: bolder;
    font-size: 50px;
    color: black;
    background-color: aquamarine;
    opacity: .95;
}

#mapSection {
    border: 1px solid green;
    display: flex;
    width: 75%;
    height: 50vh;
}

#mapDiv {
    border: 1px solid green;
    width: 100%;
    height: 100%;
}