header {
  border: 1px solid blue;
  text-align: center;
}
main {
  border: 1px solid blue;
  max-width: 1200px;
  margin: 0 auto;
}

#searchAndMap {
display: flex;

}

#searchForm {
  width: 25%;
  border: 1px solid green;
}

form {
  border: 1px solid red;
}
#savedLocations {
  border: 1px solid red;
  display: flex;
  flex-direction: column;
}
#mapSection {
  border: 1px solid green;
  display: flex;
  width: 75%;
  height: 50vh;
}
#bgLocationCard {
  border: 1px solid red;
  width: 25%;
}

#map {
  border: 1px solid red;
  width: 75%;
}

#otherLocations {
  border: 1px solid green;
}

#fiveCards {
  display: flex;
  justify-content: space-around;
  flex-wrap:wrap;
}
.card {
  border: 1px solid red;
  min-width: 200px; 
}